
//remove o ponto nas listas
li {
  list-style-type: none;
}

//mensagem de vazio
.not-found {
  text-align: center;
  margin-top: 1.5rem;
}

//remove o traço abaixo do link
a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

button {

  &:hover {
    cursor: pointer;
  }
}

input {
  outline: 0;
}


.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #00b400;
  color: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
}